.logo {
    width: 200px;
    height: auto;
    display: block;
    margin: left;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}

header {
    text-align: center;
    background-color: darkmagenta;
    padding: 20px;
}

nav  {
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    background-color: purple;
    color: black;
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: turquoise;
    color: black;
}

nav a:active {
    background-color: turquoise;
    transform: scale(0.95);
}

section {
    background-color: rgba(255, 255, 255, 0.9);
    color: lightgray;
    margin: 30px auto;
    padding: 20px;
    width: 80%;
    border-radius: 15px;
}

h2 {
    color: purple;
}

figure img {
    width: 100%;
    max-width: 400px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: darkmagenta;
    color: white;
}

p, li, footer {
    color: black;
}

footer a {
    color: black;
}

fieldset p{
    color: white;
}