body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}

header {
    background-color: darkmagenta;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    background-color: rgba(255,255,255,0.9);
    color: black;
    margin: 30px auto;
    padding: 20px;
    width: 70%;
    border-radius: 15px;
}

h2 {
    color: purple;
}

h3 {
    color: darkmagenta;
}

ul, ol {
    margin-left: 20px;
}

aside{
    width: 25%;
    float: right;
    border: 2px solid turquoise;
    background-color: rgba(255,255,255,0.9);
    color: black;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
}

main::after {
    content: "";
    display: block;
    clear: both;
}

p, li {
    color: black;
}

section:hover {
    transform: scale(1.02);
    transition: 0.2s;
}

footer {
    background-color: darkmagenta;
    text-align: center;
    padding: 10px;
    color: white;
}

nav  {
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    background-color: purple;
    color: black;
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: turquoise;
    color: black;
}

nav a:active {
    background-color: turquoise;
    transform: scale(0.95);
}